.navbar {
  font-size: 18px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bolder;
}

.navbar-form {
  border: 1px solid #781351;
  padding: 2px 6px;
  margin: 4px 4px 0;
}

table {
  font-size: 16px;
}

h1 {
  font-variant: small-caps;
}

h2 {
  font-style: italic;
}
