<h1>Welcome to your Shoe Empire!</h1>

<form class="form-horizontal" action="/add-brand" method="post">
  <div class="form-group">
    <h3>Add a shoe brand:</h3>
    <input type="text" class="form-control" name="newBrand" id="newBrand" placeholder="Nike?">
    <button type="submit" name="newBrand" class="btn btn-primary" aria-label="Left Align" id="righ-float-button">
  </div>
</form>
