<!DOCTYPE html>
<html>
  <head>
    <title>Shoe Manager</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="container">
      <br>
        <div class="jumbotron">
          #parse( $template )
        </div>
    </div>
  </body>
</html>
