<!DOCTYPE html>
<html>
  <head>
    <title>Shoe Manager</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="container">
      <br>
      <nav class="navbar navbar-inverse">
        <a href="/" type="button" class="btn btn-inverse navbar-btn">Home</a>
        <a href="/stores" type="button" class="btn btn-inverse navbar-btn">Stores</a>
        <a href="/brands" type="button" class="btn btn-inverse navbar-btn">Brands</a>
      </nav>
        <br>
          <div class="jumbotron">

            #parse( $template )

          </div>
    </div>
  </body>
</html>
